body {
    background-color: #232323;
}

.container {
    max-width: 600px;
    margin: 0 auto;
}

.square {
    width : 30%;
    background: purple;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 20%;
}

h1 {
    color: white;
    text-align: center;
}

span {
    color: white;
    text-align: center;
    font-weight: bold;
}

#stripe {
    background: white;
    height: 30px;
    text-align: center;
}

#stripe #message {
    color: black;
}

.selected {
    background: blue;
}